        :root{
                --primary: #f9f9f9;
                --bg: white;
                --font-base: 14px;

            }
            body {
                background-color: var(--primary);
                font-family: Arial, Helvetica, sans-serif;
                padding: 2rem
            }
            nav {
                background-color: var(--bg);
                padding: 20px;
                margin: 0;
                display: flex;
                flex-direction: row;
            }
            nav ul {
                list-style: none;
                display: flex;
                gap: 1rem;
                justify-content: space-between;
            }
            nav ul li {
                border: none;
            }
            .brand-logo {
                height: 50px;
                width: 50px;
            } 
            .todo-section{
                margin: 20px;
                background-color: var(--bg);
            }
            .todo-title-and-add-button {
                display: flex;
                padding: 20px;
                justify-content: space-between;            }
            .todo-title-and-add-button button {
                background-color: blue;
                border: none;
                color: #f9f9f9;
                border-radius: 30px;
                width: 120px;
                height: 40px;
                text-align: center;
            }

            ul li{
                list-style: none;
                display: flex;
                justify-content: space-between;
                border: 1px solid gray;
                padding: 10px;
                margin-bottom: 0.5rem;
            }

            .completed {
                text-decoration: line-through;
                color: gray;
            }
            #taskAddSection {
                display: none;
            }